<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_PATH" value="./logs" />
    <property name="LOG_FILE" value="hoopoe.log" />
    <property name="LOG_FILE_MAX_SIZE" value="100mb" />
    <property name="LOG_FILE_MAX_HISTORY" value="30" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="hoopoe.monitor.logfilter.LogFilter"></filter>
    </appender>
    <root level="error">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="hoopoe" level="debug"/>
    <logger name="org.springframework" level="error"/>
    <logger name="org.apache.ibatis" level="error"/>
    <logger name="org.springframework.web" level="error"/>
    <logger name="org.springframework.messaging" level="error"/>


</configuration>